<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body onload="fetchVacancies()">

<div class="navbar">
    <a href="/">Главная</a>
</div>

<div class="container">
    <h2>Таблица вакансий</h2>
    <div class="filters">
        <input type="text" id="searchTitle" placeholder="Поиск по названию или тексту...">
        <input type="text" id="filterCity" placeholder="Город">
        <input type="text" id="filterCompany" placeholder="Компания">
        <input type="number" id="filterSalary" placeholder="Минимальная зарплата">
        <select id="filterEmployment">
            <option value="">Тип занятости</option>
            <option value="Полная занятость">Полная занятость</option>
            <option value="Проектная работа">Проектная работа</option>
            <option value="Частичная занятость">Частичная занятость</option>
            <option value="Стажировка">Стажировка</option>
        </select>
        <input type="text" id="filterDescription" placeholder="Ключевые слова в описании">
        <button class="btn" onclick="applyFilters()">Применить фильтры</button>
        <button class="btn" onclick="resetFilters()">Сбросить</button>
    </div>
    <progress id="progressBar" value="0" max="100"></progress>
    <p id="statusText"></p> 
    <table id="vacanciesTable">
        <thead>
            <tr>
                <th>Название</th>
                <th>Работодатель</th>
                <th>Местоположение</th>
                <th>Тип занятости</th>
                <th>Зарплата</th>
                <th>Дата публикации</th>
                <th>Источник</th>
                <th>Ссылка</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="paginationControls" style="margin-top: 20px;"></div>
    <button class="btn" onclick="fetchVacancies()">Обновить данные</button>
</div>

</body>
</html> 